.story {

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 10px;
	cursor: pointer;
	color: #fff;

	.story-item {
		width: 5.5rem;
		height: 5.5rem;
		border-radius: 50%;
		border: 2px solid #FD1D1D;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 5.3rem;
			height: 5.3rem;
			border-radius: 50%;
			object-fit: cover;
		}
	}
}
