.sidebar {
	display: flex;
	flex: 10%;
	flex-direction: column;
	width: 20rem;
	padding: 1rem;
	margin-left: -2rem;
	margin-right: 2rem;

	.profileUser {
		display: flex;
		justify-content: space-around;
		height: 12rem;
		align-items: center;
		width: 100%;

		span {
			color: blue;
			font-size: 18px;
			cursor: pointer;
		}

		.profil-info {
			display: flex;
			align-items: center;
			gap: 10px;

			img {
				width: 4.6rem;
				height: 4.6rem;
				border-radius: 50%;
			}

			.info {
				display: flex;
				flex-direction: column;

				span {
					font-size: 20px;
					color: #fff;
				}

				small {
					color: #808080;
				}
			}
		}
	}

	.botom {
		display: flex;
		flex-direction: column;

		.top {
			display: flex;
			align-items: center;
			justify-content: space-around;

			h1 {
				font-size: 18px;
				color: #808080;
			}
		}


		.follows {


			.follow {
				display: flex;
				flex-direction: column;
				padding: 1rem;
				gap: 12px;
				.profile {
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 100%;

				span {
					color: blue;
					font-size: 12px;
					cursor: pointer;
				}

				.profil-info {
					display: flex;
					align-items: center;
					gap: 10px;

					img {
						width: 3rem;
						height: 3rem;
						border-radius: 50%;
					}

					.info {
						display: flex;
						flex-direction: column;

						span {
							font-size: 15px;
							color: #fff;
						}

						small {
							color: #808080;
						}
					}
				}
			}
			}
		}
	}
}
